# Configure e-mailaddress for error reporting
EMAIL_ADDRESS="example@example.com"

# Atomicorp subscription
CURL_URL="https://updates.atomicorp.com/channels/rules/subscription/VERSION"
CURL_USERNAME="invaliduser"
CURL_PASSWORD="changeme"

# Modsecurity directory
MODSEC_DIRECTORY="/etc/nginx/modsecurity.d/atomicorp"

# Init or Systemd (needed for restarting Nginx): "init" or "systemd"
SERVICE_MANGER="systemd"

# Install correct GPG-key for validating Atomicorp packages
# Atomicorp GPG key URL: https://www.atomicorp.com/RPM-GPG-KEY.atomicorp.txt
# Local GPG key directory (Redhat default is /etc/pki/rpm-gpg):
GPG=`which gpg`
RPM_GPG="/etc/pki/rpm-gpg"